/****
 * RULE 1: Selectors in order of specifity. Any selector should trump everything before it. Generic > Specific
 * RULE 2: Only one pixel value on the sheet, everything else should be em or rem.
 * RULE 3: Never more than 3 nested selected
 ****/

/**
 * Container Styles
 */
* {
  box-sizing: border-box;
  transition: all 0.25s ease-out;
}

html, body {
  font-size: 10px;
  font-family: "century gothic";
  /* background-image: url('https://wallpaperscraft.com/image/milky_way_august_sky_fir-trees_trees_night_45544_2560x1600.jpg'); */
  /* background-color: #00BCD4; */
  background-color: #1f1c1c;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

hr {
    border: 0;
    margin: 1em;
    height: 0.1em;
    background: none;
    background-image: linear-gradient(to right, #333, #ccc, #333);
}

h1 {
  margin: 0;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 84%}
    50%{background-position:100% 17%}
    100%{background-position:0% 84%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 84%}
    50%{background-position:100% 17%}
    100%{background-position:0% 84%}
}
@keyframes AnimationName { 
    0%{background-position:0% 84%}
    50%{background-position:100% 17%}
    100%{background-position:0% 84%}
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.bggrad{
  background: linear-gradient(230deg,#a24bcf,#4b79cf,#4bc5cf);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 45s ease infinite;
  -moz-animation: AnimationName 45s ease infinite;
  animation: AnimationName 45s ease infinite;

}

.welcome {
  font-size: large;
  text-align: center;
  top: 35%;
  position: relative;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.8);
}

/**
 * Todo Task List Styling
 */

#minimize:hover + #todo_widget, /*#todo_widget:hover*/ {
    opacity: 1;
}


.todo {
  position: absolute;
  right: 5px;
  top: 5px;
  background: #2b2b2b;
  opacity: 0;
  color: #fff;
  padding: 2em;
  font-size: 1.2em;
  /* transform: translate(-50%, 0); */
  width: 40em;
  max-width: 100%;
  border-radius: 15px;
}

.todo_title {
  font-size: 2em;
}

.todo_desc {
  font-size: 1.2em;
}

.todo_input {
  width: 100%;
  border: none;
  padding: 0.5em;
  background: rgba(80, 80, 80, 0.67);
  color: #fff;
  border-radius: 8px;

}

.todo_add-item {
  display: none;
  width: 20%;
  border: none;
  padding: 0.5em;
}

.todo_list, .todo_list_boiler {
  list-style: none;
  padding-left: 0em;
}


.todo_item {
  line-height: 2;
}

.todo_item-delete {
  position: relative;
  float: right;
  background-color: rgba(80, 80, 80, 0.5);
  border: none;
  color: #fff;
  text-decoration: none;
  display: block;
  top: -22px;
  z-index: 10;
  opacity: 0.5;
  border-radius: 15px;
  text-align: center;
  padding: 2px;
  margin: 0;
}

.todo_item-delete:hover {
  opacity: 1;
}

.todo_task {
  padding-left: 25px;
  padding-right: 35px;
}

input[type="checkbox" i] {
  position: absolute;
  margin: 8px 3px 3px 4px;
}

.todo_item-delete:hover + .todo_item {
  background: red;
}

:checked + .todo_task {
  opacity: 0.2;
  font-style: italic;
  text-decoration: line-through;
  background-color: #666;
}

.buttons {
  padding:  5px;
  margin-top: 3px;
}

.btn, .clearTime{
  background: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  color: #fff;
  padding: 3px 10px;
  opacity: 0.99;
  font-size: 1.2em;
  border: 1px solid rgba(192, 192, 192, 0.3);
  border-radius: 15px;
  margin: 3px auto;
}

.clearTime {
  position: relative;
}

.active {
  display: block;
  opacity: 0.99;
}

.todo_task:hover {
  opacity: 0.5;
}

#minimize {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
  background: rgb(72, 72, 72);
  padding: 5px 5px;
  color: #fff;
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

#minimize:hover {
    font-size: 1.5em;
}

#user:focus {
  border-bottom: 5px solid white;
  box-shadow: none;
  /* background: pink; */
}

.ads {
  position: absolute;
  bottom: 24px;
  width: 100%;
  margin: 5px auto;
  text-align: center;
}

.pinned {
  background: rgba(3, 169, 244, 0.8) !important;
    font-size: 1.5em;
}

#todo_widget.expand {
  position: relative;
  width: 50%;
  margin: 30px auto;
  border-radius: 15px;
}


.maximise:before {
  content: " ➕ ";
  cursor: pointer;
}

.expand .maximise:before {
  content: " ➖ ";
  cursor: pointer;
}

.maximise { 
  position: absolute;
  right: 35px;
  top: 4px;
  /* font-size: 1.4em; */
}


.expand .todo_title, .expand .todo_desc {
  text-align: center;
  display: block;
}

/**
 * For Mobile Responsiveness
 */
@media only screen and (max-width: 500px) {
  html, body {
    overflow: visible;
  }

  .todo {
    padding: 1.5em;
    margin-top: 140px;
  }

  .btn, .clearTime {
    display: table;
  }

  #todo_widget.expand {
    position: absolute;
    width: 100%;
    margin-top: 140px;
    background: rgba(40, 40, 40, 1);
  }
}

.pos-bottom-left {
  position: absolute;
  left: 0;
  bottom: 0;
  background:rgba(64, 64, 64, 0.8);
}

.settings-btn {
  color: #fff;      
  text-decoration: none;
  font-size: 1.5em;
}

.settings-btn:hover {
  font-size: 2em;
  bottom: 5px;
  left: 5px;
}

.pos-bottom-right {
  position: absolute;
  right: 0;
  bottom: 0;
  background:rgba(64, 64, 64, 0.8);
  
}

.saveLog {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
}

.saveLog:hover {
  font-size: 2em;
  bottom: 5px;
  right: 5px;
}

.round {
  padding: 5px;
  border-radius: 30px;
  margin: 5px;
}